---
import Card from "../common/Card.astro";

const { list } = Astro.props;
---

<section
  class={`
    grid lg:grid-cols-10 auto-rows-[30rem]
    gap-4
`}
>
  {list.map((listItem) => <Card listItem={listItem} />)}
</section>
