---
import { Icon } from "astro-icon";
---

<main class="flex max-w-6xl flex-col gap-5 self-center px-10">
  <h1 class="flex flex-row items-center gap-3 text-3xl font-bold md:text-5xl">
    Ángel Iglesias Préstamo
    <Icon name="noto:octopus" class="h-20 w-20 animate-bounce" />
  </h1>

  <p class="text-md md:text-xl">
    Hey there! I'm Ángel Iglesias Préstamo, a Software Engineer with a burning
    passion for Knowledge Graphs and Semantic Web technologies, currently
    working as a researcher at the WESO research group. At WESO, I'm on a
    mission to uncover the wonders of knowledge representation and its potential
    to transform the way we retrieve and integrate information. What truly
    excites me is the thrill of delving into new concepts, solving intricate
    problems, and bridging the gap between complex ideas and simple
    explanations. I believe in the power of effective communication and
    presenting innovative ideas in a way that inspires others.
  </p>
</main>
