<main class="flex max-w-6xl flex-col gap-5 self-center px-10">
  <h1 class="flex flex-row items-center gap-3 text-3xl font-bold md:text-5xl">
    Ángel Iglesias Préstamo
    <img
      src="/assets/icons/octopus.svg"
      alt="Emoji of an octopus bouncing!"
      class="h-20"
    />
  </h1>

  <p class="text-md md:text-xl">
    I'm a student of software engineering at the University of Oviedo in Spain.
    My interest in web development began in 2014, when I began creating custom
    Wordpress themes. I learned a lot about HTML and CSS as a result of that
    experience. Fast forward to today, and I'm in my final year of college.
    These days, my main focus is learning about data engineering, but I'm also
    interested in functional programming and programming language design.
  </p>
</main>
