---
import { Icon } from "astro-icon/components";
import ScrollDown from "../common/ScrollDown.astro";
---

<section class="flex h-[90vh] flex-col items-center">
  <div
    class={`
      flex flex-col justify-center self-center
      h-[80vh]
      gap-5
    `}
  >
    <h1 class="flex flex-row items-center gap-3 text-3xl font-bold md:text-5xl">
      Ángel Iglesias Préstamo
      <Icon name="noto:octopus" class="h-20 w-20 animate-bounce" />
    </h1>
    <p class="text-xl md:text-2xl">
      Hey there! I'm Ángel Iglesias Préstamo, a Software Engineer with a burning
      passion for Knowledge Graphs and Semantic Web technologies, currently
      working as a researcher at the WESO research group.
    </p>
    <p class="text-md md:text-xl">
      At WESO, I'm on a mission to uncover the wonders of knowledge
      representation and its potential to transform the way we retrieve and
      integrate information. What truly excites me is the thrill of delving into
      new concepts, solving intricate problems, and bridging the gap between
      complex ideas and simple explanations. I believe in the power of effective
      communication and presenting innovative ideas in a way that inspires
      others.
    </p>
  </div>
  <ScrollDown />
</section>
