---
import { getCollection } from "astro:content"

import MenuItem from "../common/MenuItem.astro";

const menu = await getCollection('menu')
---

<nav
  class={`
    hidden
    h-[calc(100vh-76px)] md:h-auto w-full md:w-auto
    md:flex md:flex-row
    flex-col items-center justify-center
    gap-2
  `}
>
  {
    menu.map((menuItem) => (<MenuItem menuItem={menuItem} />))
  }
</nav>
