---
import { Icon } from "astro-icon";

import type { IMenuItem } from "../../types";
import { menu } from "../../data/menu";
---

<nav
  class="hidden h-[calc(100vh-76px)] w-full flex-col items-center justify-center gap-2 md:flex md:h-auto md:w-auto md:flex-row"
>
  {
    menu.map((menuItem: IMenuItem) => (
      <a href={menuItem.url} class="btn font-medium">
        <Icon name={menuItem.icon} class="h-7 w-7" />
        {menuItem.title}
      </a>
    ))
  }
</nav>
