---
import { Icon } from "astro-icon/components";

import type { IMenuItem } from "../../types";
import { menu } from "../../data/menu";
---

<nav
  class={`
    hidden
    h-[calc(100vh-76px)] md:h-auto w-full md:w-auto
    md:flex md:flex-row
    flex-col items-center justify-center
    gap-2
  `}
>
  {
    menu.map((menuItem: IMenuItem) => (
      <a href={menuItem.url} class="btn font-medium">
        <Icon name={menuItem.icon} class="h-7 w-7" />
        {menuItem.title}
      </a>
    ))
  }
</nav>
