header {
  background-color: rgba(var(--background-color), 0.97);
  position: sticky;
  top: 0;
  height: var(--header-height);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  z-index: 99999999;
}
