header {
  position: sticky;
  top: 0;
  height: var(--header-height);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  z-index: 9999999;
}
