.hero {
  flex: 1;
  padding: 0 10%; /* less padding for lower res */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3.5em;
  padding-bottom: 0.5em;
}

p {
  font-size: 1.2em;
}
