.project {
  background: linear-gradient(rgba(var(--background-color), 0.85)), var(--image); /* TODO: make this work ? */
  z-index: 0;
  background-position: center;
  background-size: cover;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  border-radius: 0.15em;
  background-color: rgba(var(--foreground-color), 0.025);
}

.project:hover {
  transform: scale(1.025);
}

.project-items {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
}

.project-item {
  padding: 0.5em;
  margin: 0;
  text-align: center;
  list-style: none;
}
