.listSection {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

@media screen and (max-width: 600px) {
  .list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
