.project {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  border: 0.1em solid rgba(var(--foreground-color), 0.25);
  border-radius: 0.25em;
  cursor: pointer;
  padding: 1em;
  list-style: none;
}

.project:last-child:nth-last-child(odd) {
  grid-column: auto / span 2;
}

.badge {
  color: rgb(var(--accent-color));
}

.project-items {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
}

.project-item {
  padding: 0.5em;
  margin: 0;
  text-align: center;
  list-style: none;
}
