---
import type { INavigationItem } from "../types";
import { navigation } from "../data/navigation";
---

<nav
  class="hidden h-full w-full flex-col items-center justify-center md:flex md:h-auto md:w-auto md:flex-row"
>
  {
    navigation.map((navigationItem: INavigationItem) => (
      <a href={navigationItem.url} class="btn font-medium">
        <img src={navigationItem.emoji} />
        {navigationItem.title}
      </a>
    ))
  }
</nav>
