<button type="button" class="btn m-4" data-aw-toggle-color-scheme>
  <img
    src={localStorage.theme === "dark"
      ? "/assets/icons/dark.svg"
      : "/assets/icons/light.svg"}
    class="icon h-10"
  />
</button>
