---
import Bullet from "./Bullet.astro";

export interface BulletsProps {
  bullets: string[];
}

const { bullets } = Astro.props;
---

<div class="flex flex-row flex-wrap items-center gap-1">
  {bullets.map((technology: string) => <Bullet technology={technology} />)}
</div>
