---
import { Icon } from "astro-icon";
---

<p class="flex justify-center gap-2">
  Made with
  <a href="https://github.com/angelip2303/angelip2303.github.io">
    <Icon name="noto:red-heart" class="h-7 w-7" />
  </a>
  in Asturias
</p>
