---
import { Icon } from "astro-icon/components";
import { render, type CollectionEntry } from "astro:content";

export interface Props {
  experience: CollectionEntry<"experience">;
}

const { experience } = Astro.props;
const { data } = experience;
const { company, job, startMonth, startYear, endMonth, endYear, logo } = data;

const { Content } = await render(experience);

export const prerender = true;
---

<li class="accordion flex gap-4">
  <img src={logo} class="dark:bg-foreground size-12 rounded-full border" />
  <div
    class={`
    accordion-button
    group
    flex-col items-center grow
    cursor-pointer select-none
  `}
  >
    <div class="flex items-center justify-between">
      <h3 class="inline-flex items-center font-semibold">
        {company}
        <Icon
          name="ph:caret-right"
          aria-hidden="true"
          class={`
            accordion-caret
            size-4
            transition-all duration-300 ease-out
            opacity-0 group-hover:opacity-100
            group-hover:translate-x-1
          `}
        />
      </h3>
      <p>
        {
          `
          ${startMonth.substring(0, 3)} ${startYear}
          -
          ${endMonth ? endMonth.substring(0, 3) : "Present"} ${endYear ? endYear : ""}
          `
        }
      </p>
    </div>
    <p>{job}</p>
    <div class="accordion-content hidden">
      <Content />
    </div>
  </div>
</li>
