---
import type { IExperienceItem } from "../../types";

export interface ListItemProps {
    experience: IExperienceItem;
}

const { experience } = Astro.props;
---

<li class="relative pl-8 sm:pl-32 py-6 group">
    <span class={`
            flex flex-col sm:flex-row items-start
            group-last:before:hidden 
            before:absolute before:left-2 sm:before:left-0 before:self-start 
            before:h-full 
            before:px-px sm:before:ml-[6.5rem]
            before:bg-current
            before:-translate-x-1/2 before:translate-y-3
            after:absolute after:left-2 sm:after:left-0
            after:w-2 after:h-2
            after:bg-current
            after:border-4 after:border-transparent after:rounded-full
            after:box-content
            sm:after:ml-[6.5rem]
            after:-translate-x-1/2 after:translate-y-1.5
        `}>
        <time class={`
            sm:absolute left-0
            px-3 py-0.5
            text-emerald-600 bg-emerald-100
            rounded-full
        `}>
            { experience.date }
        </time>
        <h3 class="text-xl font-bold"> { experience.title } </h3>
    </span>
    <p> { experience.description } </p>
</li>