---
import { Icon } from "astro-icon/components";
---

<button
  type="button"
  class="btn md:hidden"
  aria-label="Toggles the Navigation menu"
  data-aw-toggle-menu
>
  <Icon id="menu-icon" name="ph:eye" class="h-8 w-8" />
  <Icon id="close-icon" name="ph:eye-closed" class="hidden h-8 w-8" />
</button>
