@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

h1 {
  font-family: "Pacifico", cursive;
}

h2 {
  font-family: monospace;
}

a,
.greetings-text {
  color: #bd93f9;
}

p {
  padding: 1em 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 70vh;
  padding: 4em;
  text-align: center;
}

section:nth-child(odd) {
  color: #f8f8f2;
  background: #282a36;
}

section:nth-child(even) {
  color: #282a36;
  background: #f8f8f2;
}
