@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

:root,
:root.light {
  --foreground-color: 46, 52, 64;
  --background-color: 236, 239, 244;
  --accent-color: 180, 142, 173;
  --header-height: 10vh;
  --footer-height: 15vh;
}

:root.dark {
  --foreground-color: 236, 239, 244;
  --background-color: 46, 52, 64;
  --accent-color: 180, 142, 173;
  --text-color: #eceff4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-color));
  background-color: rgb(var(--background-color)); /* TODO: good practice? */
  font-family: "Barlow Condensed", sans-serif;
}

#home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content {
  padding: 0em 2em 2em 2em;
}

h1 {
  font-size: 2em;
}

a,
span {
  color: rgb(var(--accent-color));
}

.icon {
  padding: 0 0.25em;
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
}

.icon:hover {
  transform: scale(1.2);
}
