---
import { SITE } from "../config";
import "../styles/main.css";
import BasicScripts from "../components/BasicScripts.astro";

const { title = SITE.title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="bg-white tracking-tight text-gray-900 antialiased dark:bg-slate-900 dark:text-slate-300"
  >
    <slot />
    <BasicScripts />
  </body>
</html>
